body {
	color:#35420D;
	position:absolute;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background-image:url('img/texture.png');
}
body > header {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.5)0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
}
body > header >img {
	width:10%;
}
nav {
	padding-top:2em;
	padding-bottom:2em;
	width:70%;
	float:left;
	margin-left:10%;
}
nav ul a{
	text-decoration:none;
	color:#35420D;
}
nav ul {
	width:100%;
	display:table;
	list-style-type:none;
	background: -moz-linear-gradient(left, rgba(158,192,40,1) 69%, rgba(158,192,40,0.39) 88%, rgba(158,192,40,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(69%,rgba(158,192,40,1)), color-stop(88%,rgba(158,192,40,0.39)), color-stop(100%,rgba(158,192,40,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(158,192,40,1) 69%,rgba(158,192,40,0.39) 88%,rgba(158,192,40,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(158,192,40,1) 69%,rgba(158,192,40,0.39) 88%,rgba(158,192,40,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(158,192,40,1) 69%,rgba(158,192,40,0.39) 88%,rgba(158,192,40,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(158,192,40,1) 69%,rgba(158,192,40,0.39) 88%,rgba(158,192,40,0) 100%); /* W3C */
	border-radius: 0.3em;
}
nav li {
	padding:0.5em 1em;
	display:inline-block;
	font-weight:bold;
}
nav li:hover {
	background-color:blue;
	padding:0.5em 1em;
	display:inline-block;
}

section >header, section > p, article {
	padding: 1em;
}

body > section {
	display:none;
	width:80%;
	min-height:70%;
	margin:0 auto auto 10%;
	background-color:white;
	height:auto;
	border-radius: 0.3em;
}
body > section.active {
	display:block;
}

footer {
	position:fixed;
	bottom:0;
	height:3em;
	width:100%;
	background: -moz-linear-gradient(bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom, rgba(255,255,255,0.5)0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C */
}
footer p{
	text-align:center;
}


